<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-9 mx-auto text-center">
          <h1 class="text-white">Weather</h1>
        </div>
      </div>
    </div>
  </div>
  
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <form [formGroup]="weatherForm" (ngSubmit)="weather()">
  
            <div class="form-group">
              <input type="text" class="form-control" placeholder="City" formControlName="city">
              <div *ngIf="weatherForm.get('city').invalid && (weatherForm.get('city').touched || weatherForm.get('city').dirty)"
                   style="color: red; margin-top: 10px; margin-bottom: 20px;">
                <div *ngIf="weatherForm.get('city').hasError('required')">
                  City is required
                </div>
              </div>
            </div>
  
            <div>
              <h3 *ngIf="weatherData">Temperature: {{weatherData.temperature}}</h3>
              <h3 *ngIf="weatherData">Humidity: {{weatherData.humidity}}</h3>
              <h3 *ngIf="weatherData">Pressure: {{weatherData.pressure}}</h3>
              <h3 *ngIf="weatherData">Wind Speed: {{weatherData.windSpeed}}</h3>
              <img *ngIf="weatherData" [src]="'http://openweathermap.org/img/w/' + weatherData.icon + '.png'" alt="Weather Icon">
            </div>
  
            <div class="form-group text-center">
              <input type="submit" class="btn btn-primary py-3 px-5" value="Get Weather">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  